@import '../config/parameters';

body{
  font: 100% $font-stack;
  color: $text-color;
  margin: auto;
  height: auto;
  text-align: justify;
  background: $bg-color;
}

.container{
  display: block;
  margin: 10px;
}

h1{
  border-style: solid;
  text-align: center;
  font-size: 25px;

    &.title{
      border: none;
      padding: 0;
    }
}

.StatutT{
  width: 35%;
  display: inline-block;
  margin: 0;
}

.statut{
  width: 60%;
  display: inline-block;
  margin: 0;
  color: white;
  background-color: $text-color;
  text-align: center;
}

.Field{
  width: 100%;
}
