@import '../config/parameters';

body{
  font: 100% $font-stack;
  color: $text-color;
  margin: auto;
  height: auto;
  text-align: justify;
  background: $bg-color;
}

.container{
  display: block;
  margin: 10px;
}

h1{
  text-align: center;
  border-top: solid $text-color;
  font-size: 25px;
  padding-top: 30px;


    &.title{
      border: none;
      padding: 0;
    }
}

.StatutT{
  width: 35%;
  display: inline-block;
  margin: 0;
}

.statut{
  width: 60%;
  display: inline-block;
  margin: 0;
  color: white;
  background-color: $text-color;
  text-align: center;
}

.Field{
  width: 100%;
}

.submit{
  background-color: $text-color;
  color: $bg-color;
}

@media screen and (min-width: 426px) {
  .StatutT{
    width: 20%;
    display: inline-block;
    margin: 0;
  }

  .statut{
    width: 79%;
    display: inline-block;
    margin: 0;
    color: white;
    background-color: $text-color;
    text-align: center;
  }
}
