body{
  margin: 0 auto;
  max-width: 50em;
  display: inline-block;
  font-family: "Verdana", sans-serif;
  line-height: 1.5;
  padding:15px;
  background-image: url("fond.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color : #191970;
}

h1{
  padding:5px;
  line-height: normal;
  border-style: solid;
}
