body{
  margin: 0auto;
  max-width: 50em;
  display: inline-block;
  font-family: "Verdana", sans-serif;
  line-height: 1.5;
  padding:15px;
  background-color: #e5fcfb
}

h1{
  padding:5px;
  line-height: normal;
  text-align: center;
}
